<div class="w-full h-screen bg-amber-400 flex items-center justify-center">
  <div
    class="mycalc h-8/12 w-3/12 bg-pink-400 rounded-2xl flex justify-center flex-wrap"
  >
    <div class="view w-11/12 h-20 mt-8 mb-0">
      <form [formGroup]="inputStr">
        <input
          class="w-full h-20 text-5xl text-right bg-pink-300 rounded-2xl p-2"
          type="text"
          formControlName="display"
          readonly
        />
      </form>
    </div>
    <div
      class="buttonContainer bg-pink-400 w-11/12 h-9/12 m-0 grid grid-cols-4 auto-rows-fr gap-2"
    >
      <button
        *ngFor="let button of buttonValues; let i = index"
        [ngClass]="getButtonClasses(i)"
        (click)="buttonDown(button); bounce($event)"
      >
        {{ button }}
      </button>
    </div>
  </div>
</div>
